body {
  padding: 0;
  margin: 0;
  background: black;
  color: white;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 4vw;
  text-align: center;
}
p#demo {
  text-align: center;
  font-size: 14vw;
  margin: 0;
  font-family: "IMPACT";
  color: yellow;
}
p#time {
  text-align: center;
  font-size: 10vw;
  margin: auto 0;
  background-color: green;
  color: #fff;
}
.left,
.right {
  width: 35vw;
  position: fixed;
  bottom: -5vw;
}
.left {
  left: -17vw;
}
.right {
  right: -17vw;
}
marquee {
  padding: 0 10vw;
}
.credit {
  position: fixed;
  bottom: 1vw;
  left: 0;
  width: 100%;
  color: #333;
  font-size: 1.5vw;
  text-align: center;
}
#days {
  color: yellow;
}
a{
	text-decoration: none;
	color: #666;
}
