body {
  background: #000;
  color: #fff;
}
#nyear {
  position: fixed;
  bottom: 2vw;
  left: 50%;
  margin-left: -25vw;
  font-size: 25vw;
  font-weight: 800;
  text-shadow: 0.2vw 0.2vw 0.2vw black;
}
#current {
  position: fixed;
  bottom: 3vw;
  left: 52%;
  width: 50vw;
  background-color: yellow;
  color: black;
  margin-left: -28vw;
  font-size: 2.5vw;
  border-radius: 2vw;
  padding: 0.5vw;
}
#time {
  background: red;
  padding: 1vw;
  border-radius: 1vw;
  color: white;
}
.cong {
  font-size: 6vw;
  font-weight: bold;
  position: fixed;
  top: 1vw;
  left: 50%;
  width: 50vw;
  margin-left: -25vw;
}
.hny {
  margin-top: 5vw;
  width: 50vw;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.left,
.right {
  width: 35vw;
  position: fixed;
  bottom: -5vw;
}
.left {
  left: -17vw;
}
.right {
  right: -17vw;
}
.credit {
  position: fixed;
  bottom: 1vw;
  left: 0;
  width: 100%;
  color: #333;
  font-size: 1.5vw;
  text-align: center;
}
.reset {
  width: 5vw;
  position: fixed;
  top: 0px;
  right: 0px;
}
a{
	text-decoration: none;
	color: #666;
}